{% extends 'base.html' %}
{% block content%}


  <div class="text-center">
                      <span class="fs-4 text-warning ls-md text-uppercase mt-auto
                        fw-semi-bold">pizza. your way.
               
                      </span>
                      <!-- heading  -->
                      <h2 class="display-3 mt-4 mb-3 text-white fw-bold">Pitsa 🍕</h2>
                        <!-- para  -->
                      <p class="lead text-white-50 px-lg-8 mb-6">Designed for pizza lovers, by pizza lovers.</p>
                      <a href="menu" class="btn btn-primary">Create a pizza</a>
                    </div>

                  </div>
                </div>

{% endblock %}

